@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    padding: 80pt;
  background-color: rgb(220, 82, 82);
  font-family: 'BMJUA';
  font-size: 20pt;
}
#banner img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border-color: rgb(16, 16, 16);
  border-width: 10px;
}
#banner .menuLink {
  margin-left: 45%;
  margin-top: 2%;
  width: 7%;
  float: :left;
  text-align: center;
  display: block;

}
#banner .menuLink:hover {
  background-color: #fdcdcd;
  border-radius: 50%;
}
#top_menu { 
  width: 900px;
  margin-left: 15%;
}
#top_menu ul li {
  width: 200px;
  list-style: none;
  color: white;
  background-color: #2d2d2d;
  float: left;
  vertical-align: middle; 
  text-align: center;
  margin: 5%;
  border-radius: 100%;
}
#top_menu .menuLink {
  text-decoration: none;
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 50px;
  font-weight: bold;
  font-family: "Trebuchet MS", Dotum, Arial;
  border-radius: 100%;
}
#top_menu .menuLink:hover {
  color: red;
  background-color: #4d4d4d;
}
